<!DOCTYPE html>

<html>
    <head>
        <script src="vue.js"></script>
        <script>Vue.config.productionTip = false</script>
        <style>
            body{
                background: #ccc;
            }
            .class1{
                font-size: 20px;
                font-weight: bold;
            }
            .class2{
                background-color: pink;
                border-radius: 4px;
            }
        </style>
    </head>



    <body>
        <div id="test">

            <div v-bind:class="arr">35</div>
            <div :class="obj">styleTEST</div>
            <div :style="obj2">styleTEST</div>
            
            
            <input v-model="keyword" type="text"/>

            diff_stu
            <button v-on:click="sortType = 1">ASC</button>
            <button v-on:click="sortType = 2">DESC</button>
            
            <div v-for="(o,idx) in filt_items" :key="o.id">
            {{o.id}}--{{o.name}}
            </div>
            <br>
        </div>
        
    </body>



    <script>
        Vue.config.productionTip = false
        const vm = new Vue({
            el:'#test',
            data:{
                // 上方style css
                arr:['class1','class2'], 
                obj:{
                    class1:true,
                    class2:true
                },
                obj2:{
                    fontSize: '20px',
                    backgroundColor: '#ccc',
                    fontWeight: 'bold'
                },
                items:[
                    {id:1,name:'guangdong'},
                    {id:2,name:'shanghai'},
                    {id:3,name:'henan'},
                    {id:4,name:'netherland'},
                ],
                keyword:'',
                sortType: 1
                
            },
            computed:{
                filt_items(){
                    // 先过滤， 再排序
                    const arr =  this.items.filter((p)=>{ // 数组每个元素都要经过箭头方法，为true则留下
                        return p.name.indexOf(this.keyword) != -1
                    })
                    // sortType == 0  不做处理
                    // sortType = 1 向下升序
                    if(this.sortType){
                        arr.sort((a,b)=>{
                          return this.sortType === 1 ? a.id-b.id : b.id-a.id
                        })
                    }
                    return arr 
                }
            }
            

        })
        
    </script>
    
</html>
